<!--======= INTRO SECTION  -->

 <section class="inner-intro bg-6 ">
  <div class="container">
     <div class="row text-center intro-title">
           <div class="col-lg-6 col-md-6 col-sm-6 text-left">
             <h1 class="text-white">About us </h1>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-6 text-right">
             <ul class="page-breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                <li><a href="#">pages</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>About Us</span> </li>
             </ul>
        </div>
     </div>
  </div>
</section>
<!--======= INTRO SECTION  -->

<!--======= WELCOME SECTION  -->

<section class="welcome-4 page-section-ptb white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10">
         <div class="section-title">
           <span>Welcome to </span>
           <h2>the Cardealer online</h2>
           <div class="separator"></div>
           <p>Car Dealer is the Free Ruby On Rails Template . We provide everything you need to build an <strong>Amazing dealership website</strong>  developed especially for car sellers, dealers or auto motor retailers. You can use this template for creating website based on any framework language.</p>
         </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="owl-carousel-5">
         <div class="item">
           <%= image_tag ('car/a1.png'), :class => "img-responsive objects-1", :alt =>"" %>

          </div>
          <div class="item">
            <%= image_tag ('car/a2.png'), :class => "img-responsive objects-1", :alt =>"" %>

          </div>
          <div class="item">
            <%= image_tag ('car/a3.png'), :class => "img-responsive objects-1", :alt =>"" %>

          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <p>Dealer obcaecati adipisci vero lorem ipsum dolor sit amet, consectetur adipisicing elit. dolorum pariatur aut consectetur. Sit quisquam rerum corporis neque atque inventore nulla, quibusdam, ipsa suscipit aperiam reiciendis, ea odio?</p>
        <br />
        <p>Adipisicing ipsum dolor sit amet, consectetur elit. Obcaecati adipisci vero dolorum pariatur aut consectetur. Sit quisquam rerum corporis neque atque inventore nulla, quibusdam, ipsa suscipit aperiam reiciendis, ea odio?</p>
        <p>Obcaecati adipisci vero dolorum pariatur aut consectetur. lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quisquam rerum corporis neque atque inventore nulla, quibusdam, ipsa suscipit aperiam reiciendis, ea odio?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="feature-box-3">
          <div class="icon">
            <i class="fa fa-car"></i>
          </div>
          <div class="content">
            <h6>All brands </h6>
            <p>Obcaecati adipisci vero dolorum pariatur </p>
          </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="feature-box-3">
          <div class="icon">
            <i class="fa fa-comments-o"></i>
          </div>
          <div class="content">
            <h6>Free Support</h6>
            <p>lorem ipsum dolor sit amet, consectetur</p>
          </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="feature-box-3">
          <div class="icon">
            <i class="fa fa-key"></i>
          </div>
          <div class="content">
            <h6>Dealership </h6>
            <p>Sit quisquam rerum corporis neque</p>
          </div>
         </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="feature-box-3">
          <div class="icon">
            <i class="fa fa-address-card"></i>
          </div>
          <div class="content">
            <h6>affordable</h6>
            <p>Suscipit aperiam reiciendis, ea odio?</p>
          </div>
         </div>
      </div>
    </div>
  </div>
</section>

<!--======= WELCOME SECTION  -->

<hr class="gray" />

<!--======= HISTORY SECTION  -->

<section class="our-history gray-bg page-section-ptb">
  <div class="container">
   <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="section-title">
         <span>Car dealer's 30 year timeline from the beginning</span>
         <h2>our history</h2>
         <div class="separator"></div>
      </div>
    </div>
   </div>
   <div class="row">
    <div class="col-lg-12 col-md-12">
       <ul class="timeline list-style-none">
        <li>
          <div class="timeline-badge"><h4>01</h4></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5>the beginning</h5>
            </div>
            <div class="timeline-body">
              <p>From the beginning lorem ipsum dolor sit amet, consectetur sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><h4>02</h4></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5>New Service Garage</h5>
            </div>
            <div class="timeline-body">
              <p>We own our own New Service Garage incididunt Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><h4>03</h4></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5>New Main office</h5>
            </div>
            <div class="timeline-body">
              <p>With new super cool office elit lorem ipsum dolor sit amet sed do eiusmod tempor incididunt ut labore.</p>
            </div>
          </div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-badge"><h4>04</h4></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5>New Website launch</h5>
            </div>
            <div class="timeline-body">
              <p>Start online business tempor lorem ipsum dolor sit amet, consectetur adipiscing elit incididunt ut labore.</p>
            </div>
          </div>
        </li>
     </ul>
    </div>
   </div>
  </div>
</section>
<!--======= HISTORY SECTION  -->

<!--======= COUNTER SECTION  -->

<section class="counter counter-style-2 bg-red bg-1 bg-overlay-black-70 page-section-ptb">
  <div class="container">
    <div class="row">
     <div class="col-lg-3 col-md-3 col-sm-6 item">
     <div class="counter-block text-left">
        <div class="separator"></div>
        <div class="info">
           <h6 class="text-white">Vehicles in Stock</h6>
           <p><i class="fa fa-car"></i>
           <h3 class="text-white">550</h3></p>
         </div>
        </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 item">
     <div class="counter-block text-left">
        <div class="separator"></div>
        <div class="info">
           <h6 class="text-white">Dealer Reviews</h6>
           <p>  <i class="fa fa-comments-o"></i></i>
           <h3 class="text-white">2500</h3></p>
         </div>
        </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-6 item">
     <div class="counter-block text-left">
        <div class="separator"></div>
        <div class="info">
           <h6 class="text-white">Happy Customer</h6>
           <p><i class="fa fa-users"></i>
           <h3 class="text-white">10050</h3></p>
         </div>
        </div>
     </div>
      <div class="col-lg-3 col-md-3 col-sm-6 item">
      <div class="counter-block text-left">
        <div class="separator"></div>
        <div class="info">
           <h6 class="text-white">Awards</h6>
           <p><i class="fa fa-trophy"></i>
           <h3 class="text-white">350</h3></p>
         </div>
        </div>
     </div>
    </div>
  </div>
</section>

<!--======= COUNTER SECTION  -->

<!--======= TESTMONIAL SECTION  -->

 <section class="testimonial-1 gray-new-bg  page page-section-ptb">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 col-md-12">
         <div class="section-title">
           <span>What Our Happy Clients say about us</span>
           <h2>our Testimonial
           </h2>
           <div class="separator"></div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-12 col-md-12">
         <div class="owl-carousel-2">
           <div class="item">
             <div class="testimonial-block text-center border-new">
               <div class="testimonial-image">

                 <%= image_tag('testimonial/01.jpg', :alt => "", :class => "img-responsive") %>

               </div>
               <div class="testimonial-box">
                 <div class="testimonial-avtar">
                   <%= image_tag('team/01.jpg', :alt => "", :class => "img-responsive") %>

                   <h6>Alice Williams</h6>
                   <span>Auto Dealer</span>
                 </div>
                 <div class="testimonial-content">
                   <p>It has survived not only five centuries. lorem Ipsum is simply dummy text of the printin a galley of type and bled it to make a type specimen book.</p>
                   <i class="fa fa-quote-right"></i>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="testimonial-block text-center border-new" >
               <div class="testimonial-image">

                 <%= image_tag('testimonial/02.jpg', :alt => "", :class => "img-responsive") %>

               </div>
               <div class="testimonial-box" >
                 <div class="testimonial-avtar">
                   <%= image_tag('team/02.jpg', :alt => "", :class => "img-responsive") %>

                   <h6>Michael Bean</h6>
                   <span>Car Dealer</span>
                 </div>
                 <div class="testimonial-content">
                   <p>A galley of type and bled it to make a type specimen book. Ipsum is simply dummy text of the printin It has survived not only five centuries.</p>
                   <i class="fa fa-quote-right"></i>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="testimonial-block text-center border-new">
               <div class="testimonial-image">

                 <%= image_tag('testimonial/03.jpg', :alt => "", :class => "img-responsive") %>

               </div>
               <div class="testimonial-box">
                 <div class="testimonial-avtar">
                   <%= image_tag('team/03.jpg', :alt => "", :class => "img-responsive") %>

                   <h6>Felica Queen</h6>
                   <span>Auto Dealer</span>
                 </div>
                 <div class="testimonial-content">
                   <p>Text of the printin a galley of type and bled it to a type specimen book. It has survived not only five centuries make Lorem Ipsum is simply dummy.</p>
                   <i class="fa fa-quote-right"></i>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="testimonial-block text-center border-new">
               <div class="testimonial-image">

                 <%= image_tag('testimonial/04.jpg', :alt => "", :class => "img-responsive") %>

               </div>
               <div class="testimonial-box">
                 <div class="testimonial-avtar">
                   <%= image_tag('team/04.jpg', :alt => "", :class => "img-responsive") %>

                   <h6>Sara Lisbon</h6>
                   <span>Customer</span>
                 </div>
                 <div class="testimonial-content">
                   <p>Printin a galley of type and bled It has survived not lorem Ipsum is simply dummy text of the it to make a type specimen book only five centuries.</p>
                   <i class="fa fa-quote-right"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
<!--======= COUNTER SECTION  -->
