<!--=======FOOTER  -->

<footer class="footer bg-2 bg-overlay-black-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="social">
          <ul>
            <li>
              <a class="facebook" href="#">facebook
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="twitter" href="#">twitter
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a class="pinterest" href="#">pinterest
                <i class="fa fa-pinterest-p"></i>
              </a>
            </li>
            <li>
              <a class="dribbble" href="#">dribbble
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
            <li>
              <a class="google-plus" href="#">google plus
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a class="behance" href="#">behance
                <i class="fa fa-behance"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="about-content">
          <a href="#">
            <%= image_tag('logo-light.png', :alt => "logo", :class => "img-responsive") %></a>
            <p>We provide everything you need to build an amazing dealership website developed especially for car sellers dealers or auto motor retailers.</p>
        </div>
        <div class="address">
          <ul>
            <li>
              <i class="fa fa-map-marker"></i>
              <span>220E Front St. Burlington NC 27215</span>
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span>(007) 123 456 7890</span>
            </li>
            <li>
              <i class="fa fa-envelope-o"></i>
              <span>support@website.com</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="usefull-link">
          <h6 class="text-white">Useful Links</h6>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>
                Change Oil and Filter</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>
                Brake Pads Replacement</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>
                Timing Belt Replacement</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>
                Pre-purchase Car Inspection</a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-angle-double-right"></i>
                Starter Replacement</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="recent-post-block">
          <h6 class="text-white">recent posts
          </h6>
          <div class="recent-post">
            <div class="recent-post-image">
              <%= image_tag('car/01.jpg', :alt => "", :class => "img-responsive") %>

            </div>
            <div class="recent-post-info">
              <a href="#">Time to change your
              </a>
              <span class="post-date">
                <i class="fa fa-calendar"></i>JAN 10, 2018</span>
            </div>
          </div>
          <div class="recent-post">
            <div class="recent-post-image">
              <%= image_tag('car/02.jpg', :alt => "", :class => "img-responsive") %>

            </div>
            <div class="recent-post-info">
              <a href="#">The best time to
              </a>
              <span class="post-date">
                <i class="fa fa-calendar"></i>JAN 10, 2018</span>
            </div>
          </div>
          <div class="recent-post">
            <div class="recent-post-image">
              <%= image_tag('car/03.jpg', :alt => "", :class => "img-responsive") %>

            </div>
            <div class="recent-post-info">
              <a href="#">Replacing a timing
              </a>
              <span class="post-date">
                <i class="fa fa-calendar"></i>JAN 10, 2018</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <div class="news-letter">
          <h6 class="text-white">subscribe Our Newsletter
          </h6>
          <p>Keep up on our always evolving products features and technology. Enter your e-mail and subscribe to our newsletter.</p>
          <form class="news-letter">
            <input type="email" placeholder="Enter your Email" class="form-control placeholder">
            <a class="button red" href="#">Subscribe</a>
          </form>
        </div>
      </div>
    </div>
    <hr/>
    <div class="copyright">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="text-left">
            <p>©Copyright 2018 Concept Car Dealer Developed by
              <a href="http://www.devdap.com/" target="_blank">devdap.com</a>
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <ul class="list-inline text-right">
            <li>
              <a href="#">privacy policy
              </a>
              |
            </li>
            <li>
              <a href="#">terms and conditions
              </a>
              |</li>
            <li>
              <a href="#">contact us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--=======FOOTER  -->

<!--=======BACK TO TOP  -->

<div class="car-top">
  <span><%= image_tag('car.png', :alt => "") %></span>
</div>

<!--=======BACK TO TOP  -->
