<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="Free Ruby On Rails 5 Template" />
<meta name="description" content="Concept Car Dealer - Free Ruby On Rails 5 Template" />
<meta name="author" content="devdap.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    

    <!-- Title -->
    <title>Concept Car Dealer - Free Ruby On Rails 5 Template</title>

    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>
    
    <!-- Stylesheets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Menu Partials -->
    <%= render 'layouts/navigation' %>
    
     <%= yield %>
    
    <!-- Footer Partials -->
    <%= render 'layouts/footer' %>

    <!-- Javascripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
